		<div class="container">
			<nav class="navbar">
				<label class="navbar-toggle collapsed" for="navigation-dropdown-visibility-checkbox-internal">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fa fa-bars"></i>
        </span>
				</label>
				<a href="/">
					<img src="/img/anoxinon_logo_hires.png">
				</a>
				<input type="checkbox" id="navigation-dropdown-visibility-checkbox-internal">
        <ul class="main-nav" id="js-menu">
					<li><a href="/">Home</a></li>
					<li><a href="/ueber-uns">Über uns</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/dienste">Dienste</a></li>
					<li><a href="/mitmachen">Mitmachen</a></li>
				<!--	<ul class="dropdown">
				    <li><a class="dropbtn">Beispiel</a></li>
				    <div class="dropdown-content">
				      <li><a href="/dienste">Dienste</a></li>
				      <li><a href="/mitmachen">Mitmachen</a></li>
				      <li><a href="/partner">Partner</a></li>
				    </div>
				  </ul> -->
					<li><a href="/unterstuetzung">Unterstützung</a></li>
					<li><a href="/partner">Partner</a></li>
					<li><a href="/faq">FAQ</a></li>
        </ul>
	    </nav>
		</div>
