{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<div class="push-center" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    {{ template "_internal/schema.html" . }}

    <section id="hero" class="wrapper-hero wrapper-hero-about">
      <div class="container">
        <h1 itemprop="headline">{{ .Title }}</h1>
        {{ if .Description }}
        <p itemprop="description">{{ .Description }}</p>
        {{ end }}
        <time class="post-time">{{ partial "post/meta" . }}</time>
      </div>
    </section>

    <section id="post-box">
      <div id="post" itemprop="articleBody">
        {{ .Content | safeHTML }}
      </div>

      <div class="post-meta">
        {{ partial "post/byauthor" . }}
        {{ partial "post/related-content" . }}
      </div>
    </section>
  </div>
</div>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
